.holder {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  height: 200px;
}

.item{
	flex-wrap: wrap;
	height: 100px;
	width:100px;
	text-align:center;
	align-content:center
    
}
.holder .item:nth-child(1) {
  background-color: red;      
  color: black; 
	order: 2;
}

.holder .item:nth-child(2) {
  background-color: blue;      
  color: black; 
	order:3;
}

.holder .item:nth-child(3) {
  background-color: green;      
  color: black;   
   order: 1;   
}